<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-apiary-heading" data-cy="ApiaryCreateUpdateHeading" jhiTranslate="beebackApp.apiary.home.createOrEditLabel">
        Create or edit a Apiary
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="beebackApp.apiary.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="beebackApp.apiary.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idNumber" jhiTranslate="beebackApp.apiary.idNumber">Id Number</label>
          <input type="text" class="form-control" name="idNumber" id="field_idNumber" data-cy="idNumber" formControlName="idNumber" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_color" jhiTranslate="beebackApp.apiary.color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="beebackApp.apiary.location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_latitude" jhiTranslate="beebackApp.apiary.latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_longitude" jhiTranslate="beebackApp.apiary.longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orderNumber" jhiTranslate="beebackApp.apiary.orderNumber">Order Number</label>
          <input
            type="number"
            class="form-control"
            name="orderNumber"
            id="field_orderNumber"
            data-cy="orderNumber"
            formControlName="orderNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hiveCount" jhiTranslate="beebackApp.apiary.hiveCount">Hive Count</label>
          <input type="number" class="form-control" name="hiveCount" id="field_hiveCount" data-cy="hiveCount" formControlName="hiveCount" />
        </div>

        @let externalIdRef = editForm.get('externalId')!;
        <div class="mb-3">
          <label class="form-label" for="field_externalId" jhiTranslate="beebackApp.apiary.externalId">External Id</label>
          <input
            type="number"
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          />
          @if (externalIdRef.invalid && (externalIdRef.dirty || externalIdRef.touched)) {
            <div>
              @if (editForm.get('externalId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('externalId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let uuidRef = editForm.get('uuid')!;
        <div class="mb-3">
          <label class="form-label" for="field_uuid" jhiTranslate="beebackApp.apiary.uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" />
          @if (uuidRef.invalid && (uuidRef.dirty || uuidRef.touched)) {
            <div>
              @if (editForm.get('uuid')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let dateCreatedRef = editForm.get('dateCreated')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateCreated" jhiTranslate="beebackApp.apiary.dateCreated">Date Created</label>
          <div class="d-flex">
            <input
              id="field_dateCreated"
              data-cy="dateCreated"
              type="datetime-local"
              class="form-control"
              name="dateCreated"
              formControlName="dateCreated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateCreatedRef.invalid && (dateCreatedRef.dirty || dateCreatedRef.touched)) {
            <div>
              @if (editForm.get('dateCreated')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateCreated')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let dateModifiedRef = editForm.get('dateModified')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateModified" jhiTranslate="beebackApp.apiary.dateModified">Date Modified</label>
          <div class="d-flex">
            <input
              id="field_dateModified"
              data-cy="dateModified"
              type="datetime-local"
              class="form-control"
              name="dateModified"
              formControlName="dateModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateModifiedRef.invalid && (dateModifiedRef.dirty || dateModifiedRef.touched)) {
            <div>
              @if (editForm.get('dateModified')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateModified')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let dateSynchedRef = editForm.get('dateSynched')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateSynched" jhiTranslate="beebackApp.apiary.dateSynched">Date Synched</label>
          <div class="d-flex">
            <input
              id="field_dateSynched"
              data-cy="dateSynched"
              type="datetime-local"
              class="form-control"
              name="dateSynched"
              formControlName="dateSynched"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateSynchedRef.invalid && (dateSynchedRef.dirty || dateSynchedRef.touched)) {
            <div>
              @if (editForm.get('dateSynched')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateSynched')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="beebackApp.apiary.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
