<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (note(); as noteRef) {
      <div>
        <h2 data-cy="noteDetailsHeading"><span jhiTranslate="beebackApp.note.detail.title">Note</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ noteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.hasReminder">Has Reminder</span></dt>
          <dd>
            <span>{{ noteRef.hasReminder }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.title">Title</span></dt>
          <dd>
            <span>{{ noteRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.content">Content</span></dt>
          <dd>
            <span>{{ noteRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.group">Group</span></dt>
          <dd>
            <span>{{ noteRef.group }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.groupRecordId">Group Record Id</span></dt>
          <dd>
            <span>{{ noteRef.groupRecordId }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.dateHidden">Date Hidden</span></dt>
          <dd>
            <span>{{ noteRef.dateHidden | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.reminderDate">Reminder Date</span></dt>
          <dd>
            <span>{{ noteRef.reminderDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.reminderId">Reminder Id</span></dt>
          <dd>
            <span>{{ noteRef.reminderId }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.externalId">External Id</span></dt>
          <dd>
            <span>{{ noteRef.externalId }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.uuid">Uuid</span></dt>
          <dd>
            <span>{{ noteRef.uuid }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.dateCreated">Date Created</span></dt>
          <dd>
            <span>{{ noteRef.dateCreated | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.dateModified">Date Modified</span></dt>
          <dd>
            <span>{{ noteRef.dateModified | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.dateSynched">Date Synched</span></dt>
          <dd>
            <span>{{ noteRef.dateSynched | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.dateDeleted">Date Deleted</span></dt>
          <dd>
            <span>{{ noteRef.dateDeleted | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.user">User</span></dt>
          <dd>
            <span>{{ noteRef.user?.id }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.note.hive">Hive</span></dt>
          <dd>
            @if (note()!.hive) {
              <div>
                <a [routerLink]="['/hive', note()!.hive?.id, 'view']">{{ noteRef.hive?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/note', noteRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
