<div>
  <h2 id="page-heading" data-cy="FeedingHiveHeading">
    <span jhiTranslate="beebackApp.feedingHive.home.title">Feeding Hives</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="beebackApp.feedingHive.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feeding-hive"
        [routerLink]="['/feeding-hive/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beebackApp.feedingHive.home.createLabel">Create a new Feeding Hive</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (feedingHives?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="beebackApp.feedingHive.home.notFound">No Feeding Hives found</span>
    </div>
  }

  @if (feedingHives && feedingHives.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="foodAmount">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.foodAmount">Food Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="externalId">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.externalId">External Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uuid">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.uuid">Uuid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCreated">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.dateCreated">Date Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateModified">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.dateModified">Date Modified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateSynched">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.dateSynched">Date Synched</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDeleted">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.dateDeleted">Date Deleted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.feedingHive.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (feedingHive of feedingHives; track trackId(feedingHive)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/feeding-hive', feedingHive.id, 'view']">{{ feedingHive.id }}</a>
              </td>
              <td>{{ feedingHive.foodAmount }}</td>
              <td>{{ feedingHive.externalId }}</td>
              <td>{{ feedingHive.uuid }}</td>
              <td>{{ feedingHive.dateCreated | formatMediumDatetime }}</td>
              <td>{{ feedingHive.dateModified | formatMediumDatetime }}</td>
              <td>{{ feedingHive.dateSynched | formatMediumDatetime }}</td>
              <td>{{ feedingHive.dateDeleted | formatMediumDatetime }}</td>
              <td>
                {{ feedingHive.user?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/feeding-hive', feedingHive.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/feeding-hive', feedingHive.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(feedingHive)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (feedingHives && feedingHives.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
