<div>
  <h2 id="page-heading" data-cy="ExaminationHiveHeading">
    <span jhiTranslate="beebackApp.examinationHive.home.title">Examination Hives</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="beebackApp.examinationHive.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-examination-hive"
        [routerLink]="['/examination-hive/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beebackApp.examinationHive.home.createLabel">Create a new Examination Hive</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (examinationHives?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="beebackApp.examinationHive.home.notFound">No Examination Hives found</span>
    </div>
  }

  @if (examinationHives && examinationHives.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.note">Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateExamination">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.dateExamination">Date Examination</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reminderId">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.reminderId">Reminder Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="externalId">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.externalId">External Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uuid">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.uuid">Uuid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCreated">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.dateCreated">Date Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateModified">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.dateModified">Date Modified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateSynched">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.dateSynched">Date Synched</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDeleted">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.dateDeleted">Date Deleted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFinished">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.dateFinished">Date Finished</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hive.id">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.examinationHive.hive">Hive</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (examinationHive of examinationHives; track trackId(examinationHive)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/examination-hive', examinationHive.id, 'view']">{{ examinationHive.id }}</a>
              </td>
              <td>{{ examinationHive.note }}</td>
              <td>{{ examinationHive.dateExamination | formatMediumDatetime }}</td>
              <td>{{ examinationHive.reminderId }}</td>
              <td>{{ examinationHive.externalId }}</td>
              <td>{{ examinationHive.uuid }}</td>
              <td>{{ examinationHive.dateCreated | formatMediumDatetime }}</td>
              <td>{{ examinationHive.dateModified | formatMediumDatetime }}</td>
              <td>{{ examinationHive.dateSynched | formatMediumDatetime }}</td>
              <td>{{ examinationHive.dateDeleted | formatMediumDatetime }}</td>
              <td>{{ examinationHive.dateFinished | formatMediumDatetime }}</td>
              <td>
                {{ examinationHive.user?.id }}
              </td>
              <td>
                @if (examinationHive.hive) {
                  <div>
                    <a [routerLink]="['/hive', examinationHive.hive.id, 'view']">{{ examinationHive.hive.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/examination-hive', examinationHive.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/examination-hive', examinationHive.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(examinationHive)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (examinationHives && examinationHives.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
