<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (feedingHive(); as feedingHiveRef) {
      <div>
        <h2 data-cy="feedingHiveDetailsHeading"><span jhiTranslate="beebackApp.feedingHive.detail.title">Feeding Hive</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ feedingHiveRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.foodAmount">Food Amount</span></dt>
          <dd>
            <span>{{ feedingHiveRef.foodAmount }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.externalId">External Id</span></dt>
          <dd>
            <span>{{ feedingHiveRef.externalId }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.uuid">Uuid</span></dt>
          <dd>
            <span>{{ feedingHiveRef.uuid }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.dateCreated">Date Created</span></dt>
          <dd>
            <span>{{ feedingHiveRef.dateCreated | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.dateModified">Date Modified</span></dt>
          <dd>
            <span>{{ feedingHiveRef.dateModified | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.dateSynched">Date Synched</span></dt>
          <dd>
            <span>{{ feedingHiveRef.dateSynched | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.dateDeleted">Date Deleted</span></dt>
          <dd>
            <span>{{ feedingHiveRef.dateDeleted | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.feedingHive.user">User</span></dt>
          <dd>
            <span>{{ feedingHiveRef.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/feeding-hive', feedingHiveRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
