<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (movedHive(); as movedHiveRef) {
      <div>
        <h2 data-cy="movedHiveDetailsHeading"><span jhiTranslate="beebackApp.movedHive.detail.title">Moved Hive</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ movedHiveRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.location">Location</span></dt>
          <dd>
            <span>{{ movedHiveRef.location }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.externalId">External Id</span></dt>
          <dd>
            <span>{{ movedHiveRef.externalId }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.uuid">Uuid</span></dt>
          <dd>
            <span>{{ movedHiveRef.uuid }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.dateCreated">Date Created</span></dt>
          <dd>
            <span>{{ movedHiveRef.dateCreated | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.dateModified">Date Modified</span></dt>
          <dd>
            <span>{{ movedHiveRef.dateModified | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.dateSynched">Date Synched</span></dt>
          <dd>
            <span>{{ movedHiveRef.dateSynched | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.dateDeleted">Date Deleted</span></dt>
          <dd>
            <span>{{ movedHiveRef.dateDeleted | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.dateFinished">Date Finished</span></dt>
          <dd>
            <span>{{ movedHiveRef.dateFinished | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.user">User</span></dt>
          <dd>
            <span>{{ movedHiveRef.user?.id }}</span>
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.hive">Hive</span></dt>
          <dd>
            @if (movedHive()!.hive) {
              <div>
                <a [routerLink]="['/hive', movedHive()!.hive?.id, 'view']">{{ movedHiveRef.hive?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="beebackApp.movedHive.harvestType">Harvest Type</span></dt>
          <dd>
            @if (movedHive()!.harvestType) {
              <div>
                <a [routerLink]="['/harvest-type', movedHive()!.harvestType?.id, 'view']">{{ movedHiveRef.harvestType?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/moved-hive', movedHiveRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
