<div>
  <h2 id="page-heading" data-cy="QueenHeading">
    <span jhiTranslate="beebackApp.queen.home.title">Queens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="beebackApp.queen.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-queen"
        [routerLink]="['/queen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beebackApp.queen.home.createLabel">Create a new Queen</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (queens?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="beebackApp.queen.home.notFound">No Queens found</span>
    </div>
  }

  @if (queens && queens.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="origin">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.origin">Origin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="year">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.year">Year</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isMarked">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.isMarked">Is Marked</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activeFromDate">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.activeFromDate">Active From Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activeToDate">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.activeToDate">Active To Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="queenChangeDate">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.queenChangeDate">Queen Change Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="externalId">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.externalId">External Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uuid">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.uuid">Uuid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCreated">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.dateCreated">Date Created</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateModified">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.dateModified">Date Modified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateSynched">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.dateSynched">Date Synched</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDeleted">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.dateDeleted">Date Deleted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hive.id">
              <div class="d-flex">
                <span jhiTranslate="beebackApp.queen.hive">Hive</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (queen of queens; track trackId(queen)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/queen', queen.id, 'view']">{{ queen.id }}</a>
              </td>
              <td>{{ queen.origin }}</td>
              <td>{{ queen.year }}</td>
              <td>{{ queen.isMarked }}</td>
              <td>{{ queen.active }}</td>
              <td>{{ queen.activeFromDate | formatMediumDatetime }}</td>
              <td>{{ queen.activeToDate | formatMediumDatetime }}</td>
              <td>{{ queen.queenChangeDate | formatMediumDatetime }}</td>
              <td>{{ queen.externalId }}</td>
              <td>{{ queen.uuid }}</td>
              <td>{{ queen.dateCreated | formatMediumDatetime }}</td>
              <td>{{ queen.dateModified | formatMediumDatetime }}</td>
              <td>{{ queen.dateSynched | formatMediumDatetime }}</td>
              <td>{{ queen.dateDeleted | formatMediumDatetime }}</td>
              <td>
                {{ queen.user?.id }}
              </td>
              <td>
                @if (queen.hive) {
                  <div>
                    <a [routerLink]="['/hive', queen.hive.id, 'view']">{{ queen.hive.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/queen', queen.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/queen', queen.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(queen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (queens && queens.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
